@mixin transform-translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

div.quote {
    background-color: #ddeeee;
    box-shadow: 0 0 6px black;
    text-align: left;
    font-size: 100%;
    line-height: 1.2em;
    width: 80%;
    padding: 10px;
    position: relative;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

p.note {
    box-shadow: 0 0 6px black;
    font-size: 100%;
    line-height: 1.2em;
}

div.note {
    box-shadow: 0 0 6px black;
    font-size: 100%;
    line-height: 1.2em;
    padding: 10px;

    p {
        text-align: left;
    }
}

p.strong {
    font-weight: bold;
    font-size: 1.2em;
}


i.fa {
    font-family: "FontAwesome";
    font-style: normal;
}

span.small, p.small, div.small {
    font-size: 60%;
}

ul.smaller {
    li {
        font-size: 80%;
    }
}

i.fa.fa-external-link {
    font-size: 60%;
}

.tip {
    color: blue;
}

/* warnings pop */
.fa-exclamation-triangle {
    color: red;
}

div.slides section {
    table {
        margin-left: auto;
        margin-right: auto;

        th, td {
            border-width: 1px;
            border-style: solid;
        }
        td {
            padding: 2px;
        }
        tr td:first-child{
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

section.summary p {
    font-size: 200%;
    font-weight: bold;
}

.vcenter, .slides h1 {
    position: absolute;
    top: 50%;
    @include transform-translate(-50%, -50%);
    left: 50%;
    width: 80%;
}

img.cq-runtime-architecture {
    width: 400px;
}

img.server-overview {
    width: 700px;
}

img.content-progression {
    width: 800px;
}


#title-slide {
    img {
        top: -20px;
        margin-bottom: -100px;
        height: 170px;
        position: relative;
    }
}


// #authoring {
//     img {
//         margin-top: -10px;
//         margin-bottom: -100px;
//         height: 650px;
//         width: auto;
//     }
// }

#osgi-definition p {
    font-size: 80%;
}

#everything-content {
    .left {
        float: left;
        display: inline-block;
        width: 25%;
    }
    .right {
        float: right;
        display: inline-block;
        width: 50%;
        img {
            width: 100%;
        }
    }
}

#audience-manager {
    h3 {
        margin-top: -50px;
    }
    p {
        margin-left: -50px;
        margin-right: -50px;
        text-align: left;
        font-size: 70%;
        line-height: 1em;
    }
    ul {
        display: block;
    }
    li {
        margin-left: -50px;
        font-size: 70%;
        line-height: 1em;
    }

    #am_segments {
        float: left;
        display: inline-block;
        width: 420px;
        margin: 0 0 -30px -50px;
    }
    #am_resp {
        float: right;
        display: inline-block;
        width: 690px;
        margin: -10px -50px -80px 0;
    }
}


#test-n-target {
    h3 {
        margin-top: -20px;
    }
    .left {
        float: left;
        display: block;
        width: 60%;
        font-size: 100%;
        line-height: 1.2em;
    }
    .right {
        float: right;
        display: block;
        width: 40%;
        margin: -10px -00px -100px -100px;
        img {
            margin: 0;
            height: 600px;
        }
    }
}

#analytics {
    img {
        height: 530px;
        margin-top: -10px;
        margin-bottom: -50px;
    }
}

#segmentation {
    p {
        font-size: 80%;
        text-align: left;
    }
    img {
        height: 600px;
        position: absolute;
        top: 65px;
        left: 300px;
    }
}

#am-together {
    img {
        height: 600px;
        margin-top: -20px;
        margin-bottom: -100px;
    }
}

.reveal .slides {
    left: 50px;
    top: 0px;
}

.reveal .slides > section {
    left: 0px;
    top: 0px;

    .imagestack img {
        margin: 0;
    }

    img.noborder {
        border: 0;
        background: none;
        box-shadow: none;
    }

    img.full {
        width: 100%;
    }

    img.fullslide {
        margin-top: -10px;
        margin-bottom: -100px;
        height: 650px;
        width: auto;
    }
}

// To highlight a border:

// border: {
//     color: red;
//     style: solid;
//     width: 1px;
// }
