section
    h1 Basics

section
    .vcenter
        h2 Basic Server Architecture
        p: img.server-overview(src="images/server_overview.png")

section
    .vcenter
        h2 Content Progression
        p: img.content-progression(src="images/content_progression.png")

section
    .vcenter
        h2 Very High Level Runtime Architecture
        p: img.cq-runtime-architecture(src="images/cq_runtime_architecture.png")

section
    .vcenter
        p: img.full(src="images/authoring.png")
