section
    .vcenter
        h2 References
        ul
            li: a(href="http://www.adobe.com/sea/products/cq.html") Adobe's CQ Product Homepage
            li: a(href="http://jackrabbit.apache.org/") Apache Jackrabbit JCR implementation
            li: a(href="http://sling.apache.org/") Apache Sling
            li: a(href="http://felix.apache.org/") Apache Felix OSGi Container
