section
    .vcenter
        h2(style="font-size: 120px;") Apache Sling
        p
            img(src="images/sling.gif")

section
    .vcenter
        h2 Apache Sling in a hundred words

        p "Apache Sling is a web framework that uses a <a href="http://en.wikipedia.org/wiki/JSR-170">Java Content Repository</a>, such as <a href="http://jackrabbit.apache.org/">Apache Jackrabbit</a>, to store and manage content.

        p Sling applications use either scripts or Java servlets, selected based on simple name conventions, to process HTTP requests in a RESTful way...

section
    .vcenter
        p ... The embedded <a href="http://felix.apache.org/">Apache Felix</a> OSGi framework and console provide a dynamic runtime environment, where code and content bundles can be loaded, unloaded and reconfigured at runtime.

        p As the first web framework dedicated to <a href="http://jcp.org/en/jsr/detail?id=170">JSR-170</a> Java Content Repositories, Sling makes it very simple to implement simple applications, while providing an enterprise-level framework for more complex applications."

        p.small (from <a href="http://sling.apache.org/">Sling's Homepage</a>)

section
    .vcenter
        h2 Apache Sling in five bullets points

        p: ul
            li REST based web framework
            li Content-driven, using a JCR content repository
            li Powered by OSGi
            li Scripting inside, multiple languages (JSP, server-side javascript, Scala, etc.)
            li Apache Open Source project
        p.small (from <a href="http://sling.apache.org/">Sling's Homepage</a>)

section
    .vcenter
        p: img.full(src="images/sling_cheat_sheet.png")

section
    .vcenter
        p: img.full(src="images/sling_post.png")
