section.title-slide
    .vcenter
        h2(style="font-size: 120px;") CQ Tech Stack Overview
        h3 A Technical Look At Adobe CQ/AEM
        p
            small Created by &nbsp;
                a(href="https://github.com/jdigger/") Jim Moore
                span= " / "
                a(href="http://twitter.com/jdiggerj") @jdiggerj
        p
            img(src="images/Adobe-CQ5.5.png")
