section#title-slide
    .vcenter
        h2(style="font-size: 120px;") CQ Tech Stack Overview
        h3 A Technical Look At Adobe CQ/AEM
        p
            .small
                p Created by <a href="https://github.com/jdigger/">Jim Moore</a> with Andrew Love
                p
                a(href="https://keybase.io/jmoore") keybase.io/jmoore
                span= " / "
                a(href="http://twitter.com/jdiggerj") @jdiggerj

            img(src="images/Adobe-CQ5.5.png")
